@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{
	margin: 0px;
	padding: 0px;
}

.content{
	font-family: 'hanna', serif;
	font-size: 15px;

}
.title{

	margin:0px;
	padding: 0;
	border: 0px;
	font-family: 'Luckiest Guy', cursive;
	font-size: 40px;
	text-align: center;
	color:#DAA520;
	background-color: #FFFACD;
}

hr{
	border-color:#DAA520;

}
/* positioning */
img.topLeft { width:1200px; height: auto; border:none; position:absolute;
    top: -50%;
    bottom: -600%;
    margin: auto;}
img.topRight {width:1200px; height: 240px; border:none;}
img.bottomLeft {width:1200px; height: 240px; border:none;}
img.bottomRight {width:1200px; height:240px; border:none;}
/* element dimensions */
div.work { background-color: #ddd; height:240px;
	position: relative; width:1200px;  margin-left:10px;
margin-left:auto; margin-right:auto;}
div.items { position:relative;  width: 1000em; height: 240px; }
div.scroller { width: 1200px; height: 240px;  overflow: hidden; }


div.work a.leftButton {position:absolute; top:104px; left:-15px; z-index:11;
	font-size:20px; text-decoration:none; }

div.work a.rightButton {position:absolute; top:104px; right:-15px; z-index:11; font-size:20px; text-decoration:none;} 


.col1{
	display: inline-block;
	float: left;
	margin:0px;
	border: 0;
	margin-left: 50px;
}

.col2{
	display: inline-block;
	float: right;
	margin: 0px;
	border: 0;
	width: 50%;
}
.col3{
	text-align: center;

	float: middle;
	margin-top:300px;
	clear: both;


}

span{
	color:blue;
	font-size:10px;

}

h1{
}

